<header>
  <img
    src="assets/img/mariane.jpg"
    alt="Mariane Nietto - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Mariane Nietto</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs</p>
    <p>Bauru, São Paulo, Brasil</p>
    <p>
      Estou iniciando na área de desenvolvimento de software. Adquirindo
      experiência em Frontend / Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/mariane-nietto/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5514991379217&text=Ol%C3%A1%20Mariane,%20preciso%20de%20um%20job!"
            target="_blank"
          >
          <strong>Envie uma mensagem para:</strong>
          <p>WhatsApp: (14) 9 9137-9217</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:marianeni@yahoo.com.br" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>mariane&#64;yahoo.com.br</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
